
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../css/Style.css" />
	<script type="text/javascript" src="../JS/feed.js"></script>
</head>

<body>
<img id="image2" src="../images/my book logo-2.png" alt="Mountain View">
<div id="header">
<a href="../Index.html">Sign out</a>
</div>
<br>
<br>
<br>
<div id="nav">
<a href="feed.html">Feed</a><br>
<a href="profile.html">Profile</a><br>
</div>

<div id="section">
<input id = "msg" value = "" type = "text"/><input type = "button" value = "post" onclick="post()"/>
<h2 id="postValue"></h2>
</div>

<div id="footer">
Talent Improving exercise, OFS
</div>

</body>
</html>